* {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

/*html {
  scroll-behavior: smooth;
} nefunguje elevator*/

a {
  display: inline-block;
}

p {
  color: #707070;
  font-size: 16px;
}

:root {
  --main-bg-color: #99b654;
  --secondary-bg-color: #5a6b61;
  --light-theme: #f1f1f1;
  --gray: #dee2e6;
}

body {
  font-family: "Nunito", sans-serif;
  color: #161c2d;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.5;
}

h1 {
  margin: 1.5rem 0 0.5rem;
  line-height: 1.2;
  font-size: 36px;
  font-weight: 600;
  color: var(--light-theme);
}

h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 32px;
}

section {
  padding: 100px 0;
}

.footer {
  box-sizing: border-box;
  padding-top: 190px;
  height: 300px;
}

/* HEADER */

.container {
  margin: 0 auto;
  width: 70%;
}

.header {
  background-image: url(https://images.unsplash.com/photo-1530049478161-0780526964f4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
  background-position: 50% 0;
  color: #fff;
}

.header__subtitle {
  margin-bottom: 1rem;

  &--standout {
    color: var(--main-bg-color);
  }
}

.header-overlay {
  background-color: rgba(60, 72, 88, 0.7);
  width: 100%;
  height: 100%;
}

.header__nav {
  padding: 20px 0;
}

.header__nav-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav__item {
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
}

.nav__link {
  margin: 0 8px;
  padding: 8px;
  color: var(--light-theme);
  transition: all 0.5s;
}

.active,
.nav__link:hover {
  color: var(--main-bg-color);
}

.header__hero {
  height: 730px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__introduction-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 5px solid var(--gray);
}

.card {
  border-radius: 18px;
  box-shadow: -0.0625rem 0 0.625rem 0 rgb(0 0 0 / 7%), 0.3125rem 1.25rem 2.5rem 0 rgb(0 0 0 / 4%);
}

.section__card {
  position: relative;
  padding: 24px;
  margin-top: -80px;
  background-color: var(--light-theme);
}

.portfolio__gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 30px;
  row-gap: 20px;
}

.gallery__item {
  height: 300px;
  overflow: hidden;
}

.gallery__item-img {
  width: 100%;
  min-height: 350px;
  object-fit: cover;
}

a .gallery__item {
  width: 32%;
}

.elevator {
  text-align: center;
  cursor: pointer;
  width: 140px;
  margin: auto;
}

.elevator:hover {
  opacity: 0.7;
}

.elevator svg {
  width: 40px;
  height: 40px;
  display: block;
  margin: auto;
  margin-bottom: 5px;
}

.btn {
  margin: 1.5rem 0.5rem;
  line-height: 1.5;
  cursor: pointer;
  border: 1px solid transparent;
  font-size: 1rem;
  background: var(--main-bg-color);
  border-radius: 6px;
  padding: 8px 34px;
  letter-spacing: 0.5px;
  color: #fff;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &:hover {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: all 0.5s;
    background-color: var(--secondary-bg-color);
    border: 1px solid var(--secondary-bg-color);
  }
}

.svg {
  height: 16px;
  width: 16px;
}
